@charset "utf-8";

body
{
	margin: 0;
	padding: 0;
	color: #444;
	background: white;
	font-family: "DejaVu Serif", Georgia, serif;
	font-size: 16px;
}

img
{
   border: 0 none;
   margin: 0;
   padding: 0;
}

.qs_title
{
   text-align: center;
   font-size: 1.4em;
   padding: 5px 0 0 20px;
}

b
{
   color: #084e8e;
}

#qs_search
{
   clear: both;
   padding: 10px 0 20px;
   
}

.qs_noscript
{
   color: #f6171c;
   font-size: 1.4em;
}

#qs_query_wrap
{
   position: relative;
   width: 90%;
   margin: auto;
   padding: 4px 10px;
   border-radius: 5px;
   border: 1px solid #084e8e;
   box-shadow: inset 0 0 3px #4ba0ef;
}

#qs_query
{
   box-sizing: border-box;
   width: 100%;
   height: 30px;
   font-size: 18px;
   font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
   border: none;
   padding-right: 28px;
}

#qs_query:focus, #qs_query:active
{
   border: none;
   outline: none
}

#qs_reset
{
   position: absolute;
   display: block;
   cursor: pointer;
   top: 3px;
   right: 3px;
   padding: 5px;
}

#qs_suggest
{
   display: none;
   position: absolute;
   text-align: left;
   background: white;   
   border: 1px solid #084e8e;
   border-radius: 5px;
   font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
}

#qs_suggest div
{
	font-size: 1.2em;
   padding: 2px 10px 3px;
}

#qs_suggest .qs_sug_sel
{
	background: #ACF;
}

#qs_links
{
   text-align: center;
   margin: 0 10px;
   padding: 0;
}

.qs_link
{
   margin: 5px 5px;
   padding: 0;
   display: inline-block;
   color: inherit;
   text-decoration: none;
   -moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
	border-radius: 15px;
}

.qs_link:hover
{
	color: inherit;
	text-decoration: none;
}

.qs_link img
{
   width: 64px;
   height: 64px;
   -moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
	border-radius: 15px;
}

.qs_desc
{
   display: none;
}

h2
{
   margin: 10px 0 15px;
   padding: 0;
   font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
   font-size: 1.2em;
   font-weight: bold;
}

.qs_info
{
   font-style: italic;
   margin: 0;
   padding: 0;
}

@media screen and (min-width: 500px)
{
   .qs_title
   {
      padding-left: 30px;
   }

   .qs_session
   {
      padding-right: 30px;
   }

   .qs_search
   {
      padding-bottom: 20px;
   }

   #qs_query_wrap
   {
      width: 60%;
   }

   .qs_link
   {
      margin: 5px 5px;
   }

   .qs_link img
   {
      width: 100px;
      height: 100px;
      -moz-border-radius: 20px;
	   -webkit-border-radius: 20px;
	   -o-border-radius: 20px;
	   -ms-border-radius: 20px;
	   border-radius: 20px;
   }
}

@media screen and (min-width: 800px)
{
   .qs_title
   {
      padding-top: 10px;
      padding-left: 50px;
   }

   .qs_session
   {
      padding-top: 10px;
      padding-right: 30px;
   }

   #qs_query_wrap
   {
      width: 40%;
   }

   .qs_links
   {
      margin: 0 20px;
   }
   
   .qs_link
   {
      margin: 10px 10px;
   }

   .qs_link:hover
   {
	   background-color: #c3d7ea;
   }

   .qs_link img
   {
      margin: 3px 3px 0 3px;
   }

   .qs_desc
   {
      display: block;
      float: right;
      margin: 10px;
      text-align: left;
   }
}

